@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-image{
    width: 1000px !important;
    height: 500px !important;
    object-fit: cover;
}
@media (max-width: 768px) {
    .modal-image{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}
@media screen and (max-width: 992px) {
    .modal-image{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}
    
    
